* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #522713;
}

.imagenchiter {
  display: flex;
  width: 15%;
}

.background {
  background-color: #460e04;
}

.burgers {
  scroll-behavior: smooth;
}

@media (min-width: 900px) {
  .imagenchiter {
    width: 8%;
  }
}
@media (min-width: 620px) {
  .imagenchiter {
    width: 8%;
  }
}
@media (max-width: 432px) {
  .imagenchiter {
    display: flex;
    position: absolute;
    top: 90%;
  }
}
.asd {
  font-weight: 0;
}

.nosotros {
  padding-top: 6%;
}
